/* DESKTOP */
/* GLOBAL STYLES */
:root {
  /* Colores */
  /* Primario */
  --celeste-brillante: #3cddf3;
  --violeta: #8b48bf;
  --blanco: #ffffff;
  --negro: #000000;

  /* Neutro */
  --azul-grisáceo-oscuro: #1e1e26;
  --azul-muy-oscuro: #232851;
  --variante-gris-claro: #8c8c94;
}

.header-nav-bar,
.header-btn {
  display: block;
}

.article-one,
.article-three {
  display: flex;
}

.btn {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/* HEADER */
header {
  padding: 5% 12%;
}

.header-nav-bar {
  width: 40%;
}

.header-nav-ul {
  justify-content: space-between;
  font-size: 1rem;
}

.header-nav-ul li a {
  color: var(--azul-muy-oscuro);
  text-decoration: none;
}

.header-nav-bar li a:hover {
  opacity: 70%;
}

.header-btn {
  color: var(--blanco);
  background-color: var(--violeta);
}

/* MAIN */

/* SECTION ONE */
.main-section-one {
  flex-direction: row;
  width: 80%;
  margin: 3% 0% 8%;
}

.main-section-one div:nth-child(1) {
  align-items: flex-start;
  width: 50%;
}

.main-section-one div img {
  padding: 0;
}

.main-section-one div h1 {
  font-size: 3.5rem;
  text-align: left;
}

.main-section-one div p {
  padding: 5% 40% 5% 0%;
  text-align: left;
}

/* SECTION TWO */
.main-section-two {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  margin-bottom: 7%;
}

.main-section-two-div-one {
  width: 50%;
  margin-bottom: 0%;
  padding-right: 10%;
}

.main-section-two-div-one h2 {
  text-align: left;
}

.main-section-two-div-one p {
  padding: 7% 30% 7% 0%;
  text-align: left;
}

.main-section-two-div-two {
  width: 50%;
}

.main-section-two-div-two div {
  background-color: transparent;
}

.main-section-two-div-two div span {
  padding: 2% 5%;
}

.main-section-two-div-two p {
  padding: 2% 9% 6% 18%;
}

/* SECTION THREE */
.main-section-three {
  margin-bottom: 8%;
}

.main-section-three h2 {
  margin-bottom: 8%;
}

.main-section-three div article {
  padding: 4% 2% 2%;
  margin-bottom: 1%;
}

.main-section-three div article p {
  padding: 3% 0%;
}

/* SECTION FOUR */
.main-section-four {
  flex-direction: row;
  justify-content: space-between;
  padding: 5% 10%;
}

.main-section-four h2 {
  width: 45%;
  text-align: left;
  padding: 0%;
  margin-bottom: 0%;
}

.main-section-four button {
  color: var(--violeta);
}

/* FOOTER */
footer {
  flex-direction: row;
  align-items: flex-start;
  padding: 5% 10% 3%;
}

.footer-div-one {
  flex-direction: column;
  width: 13.85%;
  height: 120px;
  padding: 0%;
}

.footer-div-two {
  height: 180px;
  width: 50%;
  padding: 0%;
  justify-content: right;
  margin-left: 7%;
}

.footer-div-two ul {
  height: 90%;
  justify-content: right;
}

.footer-div-two ul li {
  width: 40%;
}

.footer-div-three {
  align-items: right;
  justify-content: space-between;
  width: 35%;
  height: 160px;
}
.footer-div-three div {
  justify-content: right;
}

footer p {
  position: static;
  width: 100%;
  text-align: right;
}

/* HIDDEN ELEMENTS */
.header-nav-burger {
  display: none;
}
