/* 
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Visuales
5. Otros
*/

/* MOBILE */
/* GLOBAL STYLES */
:root {
  /* Colores */
  /* Primario */
  --celeste-brillante: #3cddf3;
  --violeta: #8b48bf;
  --blanco: #ffffff;
  --negro: #000000;

  /* Neutro */
  --azul-grisáceo-oscuro: #1e1e26;
  --azul-muy-oscuro: #232851;
  --variante-gris-claro: #8c8c94;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

header,
main,
footer {
  width: 100vw;
}

.flex {
  display: flex;
}

.btn {
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 134px;
  font-weight: 500;
}

.btn:hover {
  opacity: 75%;
}

/* HEADER */
header {
  align-items: center;
  justify-content: space-between;
  padding: 10% 7%;
}

/* MAIN */
main {
  flex-direction: column;
  align-items: center;
}

/* SECTION ONE */
.main-section-one {
  flex-direction: column-reverse;
  align-items: center;
  width: 90%;
  margin-bottom: 25%;
}

.main-section-one div:nth-child(1) {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-section-one div img {
  width: 100%;
  padding-bottom: 10%;
}

.main-section-one div h1 {
  color: var(--azul-muy-oscuro);
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}

.main-section-one div p {
  color: var(--negro);
  font-size: 1.5rem;
  padding: 5% 10%;
  text-align: center;
}

.main-section-one div button {
  color: var(--blanco);
  background-color: var(--violeta);
  margin: 3% 0%;
}

/* SECTION TWO */
.main-section-two {
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 15%;
}

.main-section-two-div-one {
  flex-direction: column;
  margin-bottom: 15%;
}

.main-section-two-div-one h2 {
  color: var(--azul-muy-oscuro);
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

.main-section-two-div-one p {
  color: var(--negro);
  font-size: 1.5rem;
  padding: 7% 10%;
  text-align: center;
}

.main-section-two-div-two div {
  align-items: center;
  background-color: #8b48bf6b;
  border-radius: 50px 0px 0px 50px;
  position: relative;
  width: 106%;
}

.main-section-two-div-two div h3 {
  padding-left: 3%;
  font-size: 1.5rem;
  font-weight: 700;
}

.main-section-two-div-two div span {
  background-color: var(--violeta);
  border: none;
  border-radius: 50px;
  color: var(--blanco);
  font-size: 1.5rem;
  padding: 2.5% 6%;
  font-weight: 700;
}

.main-section-two-div-two p {
  color: #B3B2B7;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3rem;
  padding: 6% 0% 6% 3%;
  text-align: left;
}

/* SECTION THREE */
.main-section-three {
  align-items: center;
  flex-direction: column;
  margin-bottom: 15%;
  width: 90%;
}

.main-section-three h2 {
  color: var(--azul-muy-oscuro);
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20%;
}

.main-section-three div article {
  align-items: center;
  background-color: #FAFAFA;
  flex-direction: column;
  padding: 0% 5% 3%;
  margin-bottom: 7%;
}

.main-section-three div article img {
  position: relative;
  bottom: 15%;
  width: 18%;
}


.main-section-three div article h3 {
  color: var(--azul-muy-oscuro);
  font-size: 1.5rem;
  text-align: center;
}

.main-section-three div article p {
  color: #B3B2B7;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 3% 7%;
  text-align: center;
}

.main-section-three button {
  color: var(--blanco);
  background-color: var(--violeta);
  margin: 3% 0%;
}

/* SECTION FOUR */
.main-section-four {
  align-items: center;
  background-color: var(--violeta);
  flex-direction: column;
  justify-content: space-around;
  padding: 10% 0%;
  width: 100%; 
}

.main-section-four h2 {
  color: var(--blanco);
  font-size: 4rem;
  text-align: center;
  padding: 0% 14.5%;
  margin-bottom: 10%;

}

.main-section-four button {
  color: var(--violeta);
}

/* FOOTER */
footer {
  background-color: var(--azul-grisáceo-oscuro);
  color: var(--blanco);
  flex-direction: column-reverse;
  align-items: center;
  padding: 8% 5% 25%;
}

.footer-div-three {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-div-three div {
  width: 100%;
  justify-content: center;
}

/* .footer-div-three div textarea {
  border-radius: 50px;
  width: 70%;
  color: #B3B2B7;
  text-align: left;
  text-indent: 10px;
} */

.footer-div-three div form {
  width: 75%;
}

.footer-div-three div form input {
  border-radius: 50px;
  width: 100%;
  color: #B3B2B7;
  text-align: left;
  text-indent: 10px;
}

.footer-div-three div button {
  background-color: #8b48bf;
  color: var(--blanco);
  margin-left: 3%;
  width: 15%;  
}

.footer-div-two {
  height: 50%;
  width: 100%;
  padding: 10% 0% 10% 10%;
}

.footer-div-two ul {
  flex-wrap: wrap;
  width: 100%;
  height: 160px;
  flex-direction: column;
  font-size: 1.5rem;
}

.footer-div-two ul li {
  margin-bottom: 5%;
  width: 50%;
}

.footer-div-two ul li a {
  color: var(--blanco);
  text-decoration: none;
}

.footer-div-one {
  flex-direction: column-reverse;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0% 5%;
}

.footer-div-one div {
  width: 100%;
  justify-content: space-between;
}

footer p {
  color: #8C8C94;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
  top: 410px;
}

/* HIDDEN ELEMENTS */

.header-nav-bar,
.header-btn,
.article-one,
.article-three
 {
  display: none;
}

