/* 
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Visuales
5. Otros
*/

:root {
    /* Colores */

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Be Vietnam Pro', sans-serif;
}

header {
    padding: 10% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

section img {
    width: 90%;
}

.title {
    padding: 20% 5%;
    color: #232c50;
    font-size: 50px;
    font-weight: 700;
    line-height: 66.47px;
    text-align: center;
}

div {
    display: flex;
    
}